@import '../../styles/_sass-config';

.site__branding {
  min-height: 120px;
  padding: 1rem;
  background-image: url('./branding-background--small.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 30%;

  @include bp($medium-bp) {
    background-image: url('./branding-background--large.jpg');

    position: relative; /* I am the fallback */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 25%;
    max-width: 500px;
    min-height: 100vh;
    background-color: #eee;
  }
}

.logo {
  width: 60px;

  @include bp($medium-bp) {
    width: 75px;
  }
}