@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Circular Std Book'), url('../fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
  font-family: 'Circular Std';
  font-style: italic;
  font-weight: normal;
  src: local('../fonts/Circular Std Book Italic'), url('../fonts/CircularStd-BookItalic.woff') format('woff');
}

@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: bold;
  src: local('../fonts/Circular Std Bold'), url('../fonts/CircularStd-Bold.woff') format('woff');
}