@import '../styles/_sass-config';

.site__content {
  padding: 2rem;

  @include bp($medium-bp) {
    margin-left: 300px;
  }
}

.content {
  position: relative;
  margin: 4rem auto 0 auto;

  @include bp($medium-bp) {
    max-width: 45rem;
    margin: 8rem auto 0 auto;
  }
}

.content__article {

  @include bp($medium-bp) {
    max-width: 85%;
  }
}
