@import '../styles/_sass-config';

.site__content {
  padding: 1rem;

  @include bp($medium-bp) {
    margin-left: 300px;
  }
}

.content {
  position: relative;
  max-width: 36rem;
  margin: 8rem auto 0 auto;
}
